<h1>Listing video_movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Watched</th>
    <th>External rating</th>
    <th>My rating</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_movies.each do |video_movie| %>
  <tr>
    <td><%= video_movie.title %></td>
    <td><%= video_movie.description %></td>
    <td><%= video_movie.watched %></td>
    <td><%= video_movie.external_rating %></td>
    <td><%= video_movie.my_rating %></td>
    <td><%= video_movie.type %></td>
    <td><%= link_to 'Show', video_movie %></td>
    <td><%= link_to 'Edit', edit_video_movie_path(video_movie) %></td>
    <td><%= link_to 'Destroy', video_movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_video_movie_path %>
